# Server Configuration
PORT=3000

# MySQL Database Configuration
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=yankiii_barber
DB_PORT=3306

# JSON Web Token Secret
JWT_SECRET=yankiii_barber_co_super_secret_jwt_key_2026

